@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.ul .li .a{
    @apply rounded py-[7px] px-[13px] text-[17px] hover:bg-black hover:text-white transition-all duration-300;
}

#check:checked ~ .ul{
    left: 0;
    transition: all .5s;
}

#check:not(:checked) ~ .ul {
    transition: all .3s;
}

body{
    background: #fff;
}

.heroSection{
    margin-top: 100px;
    margin-bottom: 150px;
}

.navbar{
    position: sticky;
    top: 0;
    transition: .3s linear;
}

.navbar.scrolled{
    background-color: #00000080; /* Nuevo color de fondo cuando se hace scroll */
    color: #fff;
}

.navbar.scrolled .ul .li .a{
    @apply hover:bg-white hover:text-black lg:text-white;
}

.navbar.scrolled .logo{
    color: #fff;
}

.navbar.scrolled .barraMenu{
    color: #fff;
}

.tituloServicios{
    text-align: center;
    font-size: 45px;
    font-weight: 500;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cards {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.titulosCards{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.iconos{
    font-size: 50px;
}

.lineaTitulo1{
    border-width: 2px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(59 130 246 / 1);
    margin-bottom: 3rem;
}

.lineaTitulo2{
    border-width: 2px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(239 68 68 / 1);
    margin-bottom: 3rem;
}

.lineaTitulo3{
    border-width: 2px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(34 197 94 / 1);
    margin-bottom: 3rem;
}

.tituloArticulos{
    text-align: center;
    font-size: 45px;
}

.lineaTitulo4{
    border-width: 2px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(0 0 0 / 1);
    margin-bottom: 3rem;
}

.imgCards{
    margin: 0 auto;
}

.tituloCardsArticulos{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 2rem;
}

.cards-containerArticulos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.cardsArticulos{
    background-color: #ffffff;
    box-shadow: 1px 1px 10px 1px #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    width: 350px;
}

.heroContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cajas{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.imgHero{
    border-radius: 20px;
}

.tituloHero{
    @apply lg:text-[40px] text-[30px];
}

.parrafoHero{
    margin-top: 3rem;
    font-size: 20px;
    font-weight: 400;
}