@tailwind base;
@tailwind components;
@tailwind utilities;

.ul .li .a{
    @apply rounded py-[7px] px-[13px] text-[17px] hover:bg-black hover:text-white transition-all duration-300;
}

#check:checked ~ .ul{
    left: 0;
    transition: all .5s;
}

#check:not(:checked) ~ .ul {
    transition: all .3s;
}

body{
    background: #fff;
}

.heroSection{
    margin-bottom: 50px;
}

.navbar{
    position: sticky;
    top: 0;
    transition: .3s linear;
}

.navbar.scrolled{
    background-color: #00000080; /* Nuevo color de fondo cuando se hace scroll */
    color: #fff;
}

.navbar.scrolled .ul .li .a{
    @apply hover:bg-white hover:text-black lg:text-white;
}

.navbar.scrolled .logo{
    color: #fff;
}

.navbar.scrolled .barraMenu{
    color: #fff;
}

.tituloServicios{
    text-align: center;
    font-size: 45px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cards {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.titulosCards{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.iconos{
    font-size: 50px;
}

.lineaTitulo1{
    border-width: 2px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(59 130 246 / 0.5);
    margin-bottom: 3rem;
}

.lineaTitulo2{
    border-width: 2px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(239 68 68 / 0.5);
    margin-bottom: 3rem;
}